@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Real Head Pro";
  src: url('./fonts/RealHeadPro-Bold.otf') format('.otf');
  font-weight: Bold;
}
@font-face {
  font-family: "Real Head Pro";
  src: url('./fonts/RealHeadPro-Demibold.otf') format('.otf');
  font-weight: Demibold;
}
@font-face {
  font-family: 'Real Head Pro';
  src:  url('./fonts/RealHeadPro-Regular.otf') format('.otf');
  font-weight: regular;
}
@font-face {
  font-family: "Real Head Pro";
  src: url('./fonts/RealHeadPro-SemiLight.otf') format('.otf');
  font-weight: SemiLight;
}
:root {
  --foreground-rgb: black;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: black;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

nav{
  padding:20px;
  text-align: left;
  background-color: white;
  width:100%;
  border-bottom: 5px;
  border-style: solid;

}


body {
  font: Real Head Pro;
  font-weight: SemiLight;
  size:16px;
  line-height: 22px;
  color: rgb(var(--foreground-rgb));
  background: #F5F1E9;
  ;
}

h1 {
  font: Real Head Pro;
  font-weight: Demibold;
  size: 40px;
  line-height: 50px;

}

h2 {
  font:Real Head Pro;
  font-weight: Demibold;
  size: 32px;
  line-height: 42px;
}

h3 {
  font:Real Head Pro;
  font-weight: Regular;
  size: 24px;
  line-height: 30px;
}

h4{
  font:Real head Pro;
  font-weight: Demibold;
  size:24px;
  line-height: 30px;
}

li {
  display: inline;
  padding-right: 12px;
}
button {
  display:block;
  background-color: black;
  color: white;
  margin-top: 10px;
  border-radius: 5%;
  padding: 12px;
  padding-left: 16px;
  padding-right:16px;
  width:fit-content;
  font: Real Head Pro;
  font-weight: Demibold;
  size: 16px;
  line-height: 16px;
  letter-spacing: 0%; 
}